<!DOCTYPE html>
<html lang = "en">
<head>
    <!-- http://getbootstrap.com/docs/4.5/ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="/static/styles.css" rel="stylesheet">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <title>Calcooly</title>
</head>

<body>

    <div class="container">
        <div style="margin-bottom:20px;">
             <!--<div id = "naming">C a l c o o l y.</div> -->
            <img src="/static/Pendulum.jpg">
        </div>
    </div>

    <div style="width:80%; margin: auto">
        <ul>
        <li>You can type a mathematical function that can be given as e.g "x^2" or "f(x)=x^2" and it will be simplified and printed to a diagram.</li>
        <li>You can enter any mathematical expression that e.g. can be entered into a hand calculator.</li>
        <li>You can type a mathematical function such as x^2 that will be printed to a diagram.</li>
        <li>You may give several functions at once, separated by ";".</li>
        <li>Use only small letters for function variables.</li>
        <li>To expand the input window for e.g. more complex systems of equations, press the "+" button</li>
        <li>To specify the range of the x-axis (2D)/ x- and y-axis (3D), type "[xmin, xmax]" after the function, separated by a white space.</li>
        <li>Use the keyword "Integral:" to calculate the integral(s) of your function(s)</li>
        <li>Use the keyword "Derivative:" to calculate the derivative(s) of your function(s)</li>
        <li>Use keyword "ODE:" for solving ordinary differential equations separated by ";" -
            each starting condition given after each differential equation, also seperated by ";" <br>
            Example=> "ODE: theta(t).diff(t) = omega; pi / 4; omega(t).diff(t) = -sin(theta) ;0"</li>
        <li>Additionally, you may use Python SymPy syntax for more complex calculations.<a href="https://docs.sympy.org/latest/tutorial/solvers.html" target="_blank"> -> link to documentation</a></li>
        <li>To reuse the last function again, just click on the input text below, it will be copied into the input text field and can be edited.</li>
        <li>To save a fuction, click the corresponding button.</li>
        <li>To view all saved functions, click on the link "History".</li>
        <li>To find notation conventions and program description, click on the link "Notation Conventions".</li>
        <li>...</li>
      </ul>
    </div>

</body>
</html>